{% extends "base.html" %}

{% block body_content %}
	
	<!-- Header-->
	<header class="py-5">
		<div class="container px-lg-5">
			<div class="p-4 p-lg-5 border-bottom rounded-3 text-center">
				<div class="m-4 m-lg-5">
					<h1 class="display-5 fw-bold">Hola! 👋</h1>
					<p class="fs-4">Se lista a continuación la información que tiene la base de datos...</p>
				</div>
			</div>
		</div>
	</header>
	<!-- Page Content-->
	<section class="pt-4">
		<div class="container px-lg-5">
			<div class="row gx-lg-5">
			
				{% for key, value in data.items %}
					<div class="col-lg-6 col-xxl-4 mb-5">
						<div class="card  border-0">
							<div class="card-body p-2 border rounded">
								<h2 class="fw-bold text-center">{{key}}</h2>
								{% if value.all %}
								<ul>
									{% for i in value.all %}
										<li>{{ i }}</li>
									{% endfor %}
								</ul>
								{% else %}
								<i style="display:block;text-align:center">No hay información para mostrar...</i>
								{% endif %}
							</div>
						</div>
					</div>
				{% endfor %}
				
			</div>
	</section>
{% endblock body_content %}