{% extends "base.html" %}

{% block body_content %}
	
	<!-- Header-->
	<header class="py-5">
		<div class="container px-lg-5">
			<div class="p-4 p-lg-5 border-bottom rounded-3 text-center">
				<div class="m-4 m-lg-5">
					<h1 class="display-5 fw-bold">Bienvenido!</h1>
					<p class="fs-4">Se lista a continuación la información que tiene la base de datos</p>
				</div>
			</div>
		</div>
	</header>
	<!-- Page Content-->
	<section class="pt-4">
		<div class="container px-lg-5">
			<!-- Page Features-->
			<div class="row gx-lg-5">
				<div class="col-lg-6 col-xxl-4 mb-5">
					<div class="card  border-0">
						<div class="card-body p-2 border rounded">
							<h2 class="fw-bold text-center">Algo 1</h2>
							<ul>
								<li>algo n1</li>
								<li>algo n2</li>
								<li>algo n3</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-xxl-4 mb-5">
					<div class="card  border-0">
						<div class="card-body p-2 border rounded">
							<h2 class="fw-bold text-center">Algo 1</h2>
							<ul>
								<li>algo n1</li>
								<li>algo n2</li>
								<li>algo n3</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-xxl-4 mb-5">
					<div class="card  border-0">
						<div class="card-body p-2 border rounded">
							<h2 class="fw-bold text-center">Algo 1</h2>
							<ul>
								<li>algo n1</li>
								<li>algo n2</li>
								<li>algo n3</li>
							</ul>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
{% endblock body_content %}